<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bulkdiscount.css' %}">

</head>
<body>
    {% include 'navbar.html' %}
    <!-- <center><h1>AboutUS</h1></center><br><br>
<center><h2>Welcome to CarGearHub </h2></center><br><br> -->


<div class="about1">
        <header>
            <h1>Welcome to CarGearHub</h1>
        </header><br><br>

        <div class="about2">
      <div class="image-about">
          <img src="{% static 'images/product/bulk21.webp' %}" alt="Description of Image">
      </div>
      <div class="content-about">
          <center><h2 style="background-color: black; color:orangered">20% 𝓭𝓲𝓼𝓬𝓸𝓾𝓷𝓽𝓮𝓭 𝓸𝓷 𝓒𝓪𝓻 𝓟𝓸𝓵𝓲𝓼𝓱</h2></center>
          <center><p>Revamp your car with style and savings! Get a generous 20% discount on our wide range of premium accessories. From sleek mirrors to comfy seat covers, elevate your driving experience affordably. Hurry, this exclusive offer won't last long! Shop now and upgrade your ride effortlessly.</p></center>
      </div>
    </div>
</div><br><br>
<!-- ------------about2------ -->

<div class="about-slide">
    
    <div class="about-content-slide">
        <center><h2 style="background-color: black; color:orangered">30 % 𝓭𝓲𝓼𝓬𝓸𝓾𝓷𝓽𝓮𝓭 𝓸𝓷 𝓢𝓱𝓪𝓶𝓹𝓸𝓸</h2></center>
        <center><p>Give your car the TLC it deserves with our high-quality car shampoo, now available with a fantastic 30% discount. Achieve a showroom shine effortlessly while saving big. Treat your vehicle to superior care at an unbeatable price. Don’t miss out—shop now and enjoy sparkling results </p></center>
        
    </div>
    <div class="image-about-m1">
      <img src="{% static 'images/product/bulk22.webp'%}" alt="about us">
  </div>
</div><br><br>
<!-- ------ -->

<div class="container-about-3">
    <div class="image-section-about-3">
        <img src="{% static 'images/product/bulkdiscount51.jpg' %}" alt="Description of Image">
    </div>
    <div class="content-section-about-3" >
        <center><h2 style="background-color: black; color:orangered">50% 𝓭𝓲𝓼𝓬𝓸𝓾𝓷𝓽 𝓸𝓷 𝓒𝓪𝓻 𝓒𝓪𝓻𝓮 𝓟𝓻𝓸𝓭𝓾𝓬𝓽𝓼</h2></center>
        <center><p>Transform your car care routine with a phenomenal 50% discount on our comprehensive range of premium products. From waxing to polishing, ensure your vehicle shines inside and out. Don't miss this opportunity to elevate your car's appearance and protection at an incredible value. Limited time offer—upgrade your car care today.</p></center>
    </div>
</div><br><br>

<!-- ------about4----- -->

<div class="about-slide-4">
    
    <div class="about-content-slide-4">
        <center><h2 style="background-color: black; color:orangered">𝓦𝓱𝔂 𝓒𝓱𝓸𝓸𝓼𝓮 𝓤𝓼 ?</h2></center>
        <center><p>"At CargearHub, we redefine your driving experience with quality products and exceptional service. Our commitment to innovation ensures you access the latest in automotive gear, backed by expert advice and a seamless shopping experience. Choose CargearHub for reliability, expertise, and unparalleled satisfaction in enhancing your vehicle journey."</p></center>
        
    </div>
    <div class="image-about-m4">
      <img src="{% static 'images/product/bulkdiscount52.avif'%}" alt="about us">
  </div>
</div><br><br>

<div class="bar">
    <div class="content">
        <!-- Content goes here -->
    </div>


</div>

{% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
</body>