<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Policy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/returnpolicy.css' %}">
</head>
<body style="background-image: url('{% static 'images/banner/returnpolicy2.jpg' %}');">
    {% include 'navbar.html' %}
    <div class="header1">
    <header>
        <h1>Return Policy</h1>
    </header>
    </div>
    
    <div class="container11" >
        <p>Autofurnish.com is committed to 100% Customer Satisfaction. If you are unsatisfied for any reason as per the terms and conditions mentioned below, you can return the product to us within 7 days from the delivery date with the Original Packing. </p></div>
    <div class="terms">
        <h2>Terms and Conditions</h2>
    </div>
        <div class="par">
        <p>All Returns/Refunds for all related to damage/defect/quantity mismatch/description mismatchare          eligible  for return but within 48 hours from Delivery.
            The product should be one time tried and not being used on regular basis.
            Supporting any issue is mandatory to take a decision.
            All Replacement/Refunds will be processed only after product is received back to us and quality check is cleared. 
            Any product returned that shows improper use, improper handling, or physical damage; damaged/torn out the box, missing manuals, parts, and accessories will not be Replaced/Refunded and will be returned back to the buyer without rendering a reason.          
            Any return where customers don't want the product even if the description is correct will not be entertained.</p>
        
        <p>In case of an empty box or missing item, the case should be registered within 24 hours of delivery or else Autofurnish has all the rights to reject the complaint.</p></div>
        <div class="return">
        <center><h2>Return Procedure</h2></center>
        </div>
        <div class="para">
        <p>For all returns, You can reach us on Call: +91-9205050925 (Mon-Fri 10 AM - 6 PM) or Email at: support@cargearhub.com . Provide a specific valid reason for your return. Include a copy of the original invoice in the package.</p>
        
        <p>If your return is approved, your refund will be processed and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</p></div>
        <div class="shipping">
        <h2>Shipping</h2>
        </div>
        <div class="par2">
        <p>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable.</p></div>

        <div class="contact">
        <h2>Contact Us</h2>
        </div>
        <div class="hi">
        <p>If you have any questions on how to return your item to us, contact us at suggestion.cargearhub.gmail.com</p>

    </div>
    
</body>
</html>