<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">


    <style>
        /* Add a background image to the body */
        main {
            background-image: url('background.jpg');
            background-size: cover;
            background-position: center;
            min-height: 82.5vh;
            margin: 0;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    
    <main>
        <section class="profile">

            <h2>My Profile</h2>
            <p>Welcome, {{admin_data.admin_name}}!</p>
            <ul>
                <li><strong>Email:</strong>{{admin_data.admin_email}}</li>
                <li><strong>Role:</strong> {{admin_data.admin_role}}</li>
            </ul>
            <button class="btn-edit">Edit Profile</button>
        </section>

        <section class="products">
            <h2>Add Products</h2>
            <b><a class="btn-add" href="{% url 'Seller:add_product' %}">Add New Product</a></b>
        </section>
        <section class="customers">
            <h2>Customer Details</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Order History</th>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>johndoe@example.com</td>
                    <td>View Orders</td>
                </tr>
                <tr>
                    <td>Jane Smith</td>
                    <td>janesmith@example.com</td>
                    <td>View Orders</td>
                </tr>
                <!-- add more customers here -->
            </table>
        </section>
        <section class="status">
            <h2>Status/Update</h2>
            <p>System Status: <span class="online">Online</span></p>
            
            <button class="btn-update">Update Now</button>
        </section>
    </main>

    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
</body>